# Mòdul 3 Part 1

Exercici 1

In [44]:
import sklearn.datasets as skds
import pandas as pd

dades, target = skds.load_iris(return_X_y=True, as_frame=True)

dades[:10]

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
5                5.4               3.9                1.7               0.4
6                4.6               3.4                1.4               0.3
7                5.0               3.4                1.5               0.2
8                4.4               2.9                1.4               0.2
9                4.9               3.1                1.5               0.1

Exercici 2

In [45]:
dades['target']=target
dades[:5]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

Exercici 3

In [46]:
import numpy as np

sepal_length_dades = np.array(dades['sepal length (cm)'])
petal_length_dades = np.array(dades['petal length (cm)'])
petal_length_avg = np.mean(petal_length_dades)
print('La mitjana de longitud de sèpal és ', np.round(np.mean(sepal_length_dades), 2), ' cm')
print('La desviació estándard de la mostra de sèpal és ', np.round(np.std(sepal_length_dades), 2), ' cm')
print('La mitjana de longitud de pètal és ', np.round(petal_length_avg, 2), ' cm')
print('La desviació estándard de la mostra de pètal és ', np.round(np.std(petal_length_dades), 2), ' cm')

La mitjana de longitud de sèpal és  5.84  cm
La desviació estándard de la mostra de sèpal és  0.83  cm
La mitjana de longitud de pètal és  3.76  cm
La desviació estándard de la mostra de pètal és  1.76  cm

Exercici 4

In [47]:
selec_20 = dades.sample(20)
print(selec_20)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
118                7.7               2.6                6.9               2.3
102                7.1               3.0                5.9               2.1
69                 5.6               2.5                3.9               1.1
91                 6.1               3.0                4.6               1.4
66                 5.6               3.0                4.5               1.5
39                 5.1               3.4                1.5               0.2
88                 5.6               3.0                4.1               1.3
45                 4.8               3.0                1.4               0.3
2                  4.7               3.2                1.3               0.2
96                 5.7               2.9                4.2               1.3
105                7.6               3.0                6.6               2.1
97                 6.2               2.9                4.3               1.3
116                6.5               3.0                5.5               1.8
49                 5.0               3.3                1.4               0.2
32                 5.2               4.1                1.5               0.1
26                 5.0               3.4                1.6               0.4
92                 5.8               2.6                4.0               1.2
83                 6.0               2.7                5.1               1.6
110                6.5               3.2                5.1               2.0
123                6.3               2.7                4.9               1.8

     target
118       2
102       2
69        1
91        1
66        1
39        0
88        1
45        0
2         0
96        1
105       2
97        1
116       2
49        0
32        0
26        0
92        1
83        1
110       2
123       2

Exercici 5

In [48]:
dades_matriu = np.array(dades)
matriu_cent_disp = []
for i in range(dades_matriu.shape[1]):
    matriu_cent_disp.append([np.mean(dades_matriu[:, i]), np.std(dades_matriu[:, i])])
matriu_cent_disp = np.array(matriu_cent_disp)
matriu_cent_disp = pd.DataFrame(matriu_cent_disp, columns=['avg (cm)', 'std (cm)'])
print(matriu_cent_disp)

   avg (cm)  std (cm)
0  5.843333  0.825301
1  3.057333  0.434411
2  3.758000  1.759404
3  1.199333  0.759693
4  1.000000  0.816497

Exercici 6

In [49]:
print('Hi ha un total de ', dades.shape[0], ' entrades')
print('Valor màxim del \'sepal length (cm)\': ', dades['sepal length (cm)'].max(), ' cm')

Hi ha un total de  150  entrades
Valor màxim del 'sepal length (cm)':  7.9  cm

Exercici 7

In [71]:
dades_np = dades.to_numpy()
np.corrcoef(dades_np)
dades_petal_grans = dades[dades['petal length (cm)'] >= petal_length_avg]
max_longitud_petal = dades_petal_grans['petal length (cm)'].max()
print(dades[dades['petal length (cm)'] >= max_longitud_petal])

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
118                7.7               2.6                6.9               2.3

     target
118       2